<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{{ .title }}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="asset/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <div class='menu'>
        <ul>
            <li><a href="#" class='active'>Search</a></li>
            <li><a href="https://mikehsu0618.github.io/vue3-profile/" target="_blank">About Me</a></li>
            <li><a href="https://github.com/MikeHsu0618/dcard-project" target="_blank">GitHub</a></li>
        </ul>
    </div>
    <img class='profile' style="width: 35px ;background-color: #f1f1f1; border: none; margin-top: -10px;" src='/asset/img/logo.png'/>
    <div class="logo-parent">
        <h1 class='logo'>Dcard 短網址</h1>
    </div>
    <div class='search'>
        <input type="text" v-model="orgUrl" @keyup.enter="generateUrl"/>
        <button @click="generateUrl" style="border-radius: 80px;">
            <i class="gg-sync"></i>
        </button>
    </div>

    <transition name="slide-fade">
        <div v-show="shortUrl">
            <div class="shortUrl">
                <div class="meta">

                    <img v-if="!image" class="w-full" src="/asset/img/no_image.png" style="width: 140px;" alt="meta image">
                    <img v-else class="w-full" :src="image" style="width: 250px;" alt="meta image">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> {{ title }} </div>
                    </div>
                </div>
                <br>
                <div id="qrcode"></div>
                <div>{{ shortUrl }}</div>
            </div>
            <div style="text-align:center">
                <button class="learn-more" @click="copy">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
                    <span class="button-text">Copy</span>
                </button>
            </div>
        </div>
    </transition>
    <div class="credits__container">
        <p class="credits__text"> 快速產生你想要的短網址 <a href="https://github.com/MikeHsu0618"
                                                 class="credits__link">MikeHsu0618</a></p>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.30/dist/vue.global.min.js"></script>
<script src="asset/js/main.js"></script>
</html>