<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{{ .title }}}</title>
    <link rel="stylesheet" href="asset/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
<div id="app">
    <div class="search__container">
        <p class="search__title">
            {{{ .title }}}
        </p>
        <input class="search__input" type="text" v-model="orgUrl" placeholder="請輸入網址">
    </div>
    <div>
        <button class="learn-more" @click="generateUrl">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
            <span class="button-text">Generate</span>
        </button>
    </div>
    <transition name="slide-fade">
    <div v-if="shortUrl">
        <div class="shortUrl">
            {{ shortUrl }}
        </div>
        <div >
            <button class="learn-more" @click="copy">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
                <span class="button-text">Copy</span>
            </button>
        </div>
    </div>
    </transition>
    <div class="credits__container">
        <p class="credits__text"> 快速產生你想要的短網址 <a href="https://github.com/MikeHsu0618" class="credits__link">MikeHsu0618</a></p>
    </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="asset/js/main.js"></script>
</html>